/* Colors palettes */
:root {
    --color1: #F6F0DF;
    --color2: #ffce9e;
    --color3: #FFB366;
    --color4: #393424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    font-size: 100%;
    font-family: 'Inter', sans-serif;
    background-color: var(--color1);
    color: var(--color4);
}

}

#grid-container {
    color: white;
}

.red {
    background-color: red;
}

.yellow {
    background-color: orange;
}

.blue{
    background-color: blue;
}
