<!DOCTYPE html>
<html lang="fr">

<head>
    {% block title %}<title>Motus Simulation</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header id="header">
        <a href="/">
            <img src="{% static 'images/logo.png' %}" alt="logo" width="80">
        </a>
        {% if user.is_authenticated %}
        <p>{{ user }} : {{ user.ranking }} points</p>
        <a href="/scoreboard" class="buttons">Scoreboard</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" class="buttons" value="Se déconnecter">
        </form>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>
