{% extends 'base.html' %}
{% load static %}
{% block content %}
<form id="guess-form">
    {% csrf_token %}
    <input onkeydown="return /[a-z]/i.test(event.key)" type="text" name="guess" id="guess-input" maxlength="{{ word_length }}" minlength="{{ word_length }}" required>
    <input type="hidden" name="word-id" id="word-id" value="{{ word.pk }}">
    <button type="submit">Envoyer</button>
</form>
<table id="grid-container">
    <tr>
        <td class="red">{{ first_letter|upper }}</td>
        {% for i in list_length %}
        <td class="blue">?</td>
        {% endfor %}
    </tr>
</table>
<script src="{% static 'js/game_manager.js' %}"></script>
{% endblock %}
