{% extends 'base.html' %}

{% block content %}
<h1>Bienvenue {{ user }} 👋, vous avez {{ user.ranking }} points !</h1>
<div id="start-game">
    <form action="{% url 'motus:start_game' %}" method="post" id="start-game-form">
        {% csrf_token %}
        <input type="submit" name="start" class="buttons" value="Démarrer une nouvelle partie">
    </form>
    <label for="difficulty-select"><b>Difficulté:</b></label>
    <select name="difficulty" id="difficulty-select" form="start-game-form">
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
</div>
{% endblock %}
